*{
 
  font-family: Roboto;
}

.App {
  text-align: center;
}

.title{
  color:rgba(171, 171, 171, 0.87);
  padding-top: 10px;
  font-size: 2.5em;
}

.timer{
  color:rgba(171, 171, 171, 0.87);
  font-size: 2.0em;
}